.idea
.git
.github
nginx
tmp
temp-*
.wrangler
.playwright-mcp
app
web-reader
collab-server
**/node_modules

.dockerignore
.env*
.golangci.yml
.gitignore

coverage.txt

docker-compose.yml

LICENSE
Makefile
README*
